<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Product Details</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{ product.description }}
            </td>
            <td>
                {{ product.price }}
            </td>
            <td>
                <a href="{% url 'product_detail_view' id=product.id %}">View product</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>